* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 10px;
    height: 100vh;
}



.brand-top {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-top h2 {
    color: #1d9000;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
}

.login-social {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center
}

.login-social .btn {
    width: fit-content;
    
}

.login-social .btn-login {
    width: fit-content;
    height: 50px;
    border-radius: 50px;
    /*background-color: brown;*/
    margin-top: 15px;
}

.background-3 {
    z-index: -1;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-1 {
    z-index: -2;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -20px;
    left: -10px;
    background-image: url('../images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-2 {
    z-index: -2;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -10px;
    right: 0px;
    background-image: url('../images/background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    clip: auto;
}

/* INFO-PERSON */

.info-person {
    width: 100%;
    height: 200px;
    /* background-color: red; */
    display: flex;
    align-items: center;

    /* margin: 0px 12px; */
}

.info-person .main-info {
    width: 100%;
    /* background-color: gray; */
}

.info-person .main-info .info-top {
    width: 100%;
    height: 100px;
    /* background-color: plum; */
    display: flex;
    align-items: center;
}

.info-person .main-info .left-side {
    width: 85px;
    height: 85px;
    /* background-color: gray; */
    margin-right: 20px;
}

.info-person .main-info .img-person {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border: 1px solid #787878;
    position: relative
}

.info-person .main-info .update-info {
    width: 100%;
    height: 50px;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
}

.info-person .main-info .right-side {
    width: fit-content;
    height: 80px;
    display: flex;
    align-items: center;
}

.info-person .main-info .person-name {
    width: fit-content;
}

.info-person .main-info .person-name input {
    font-size: 22px;
    font-weight: 600;
}



.gender-select label {
    user-select: none;
}

.gender-select input[type="radio"] {
    display: none;
}

.gender-select input[type="radio"]+label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}

.gender-select input[type="radio"]:checked+label {
    color: #495057;
    background-color: #ced4da;
}

.gender-select input[type="radio"]+label {
    padding: 5px 20px;
    border-radius: 10px;
}

.img-person input[type=file] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.edit-avatar-btn{    
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);;
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    pointer-events: none
}